PORT=3000
MQTT_BROKER_URL=mqtt://test.mosquitto.org
MQTT_BROKER_PORT=1883
MQTT_CLIENT_ID=mqtt-api
MQTT_CONNECT_TIMEOUT=5000
MQTT_RECONNECT_PERIOD=5000
MQTT_REQUEST_TOPIC=handler/request
MQTT_RESPONSE_TOPIC=handler/response
TEMPO_ENDPOINT=http://tempo:4318/v1/traces
PROMETHEUS_ENDPOINT=http://prometheus:4318/v1/metrics